{% extends "layout.html" %}

{% block content %}
    <h1 class="mt-5">About</h1>
    <a href="https://www.facebook.com/blogitpoints/" style="color: white; text-decoration: none;" class="fab fa-facebook"></a>
    <a href="https://twitter.com/blogitpoints" style="color: white; text-decoration: none;" class="fab fa-twitter"></a>
    <a href="https://www.youtube.com/channel/UCbFlGVmVK0BeVM6dvFXkAJw" style="color: white; text-decoration: none;" class="fab fa-youtube"></a>
    <a href="https://www.instagram.com/blogitpoints/" style="color: white; text-decoration: none;" class="fab fa-instagram"></a>
    <a href="https://www.reddit.com/user/blogitpoints" style="color: white; text-decoration: none;" class="fab fa-reddit"></a>


    <div class="row mt-5 ml-1" style="max-width: 90vw; margin: auto;">
        <div class="card mb-5">
            <h2 class="card-header">Josh Ternyak</h2>
            <div class="card-body">
                <h4 class="card-title font-weight-light">Founder & Ceo of Blogitpoints</h4>
                <p class="card-text" style="max-width: 33rem;">I am Josh Ternyak, a web developer, designer, and founder of Blogitpoints.</p>
                <a href="mailto:joshtcodes@gmail.com" class="btn btn-primary">Contact</a>
                <a class="btn btn-outline-info ml-1" href="https://joshternyak.com">Portfolio</a>
            </div>
        </div>
    </div>
{% endblock %}